<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jio.devicetracker">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity android:name=".view.signinsignup.SigninSignupActivity" />
        <activity android:name=".view.dashboard.DashboardActivity" />
        <activity android:name=".view.group.CreateGroupActivity" />
        <activity android:name=".view.group.ChooseGroupActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            />
        <activity android:name=".view.group.GroupNameActivity" />
        <activity android:name=".view.menu.ActiveMemberActivity" />
        <activity android:name=".view.menu.RefreshIntervalSettingActivity" />

        <service
            android:name=".network.SendLocationService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".view.menu.ProfileActivity" />
        <activity
            android:name=".view.signinsignup.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/title_activity_maps">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data
                    android:host="peopletracker"
                    android:pathPrefix="/home"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
            <activity android:name=".view.dashboard.DashboardMainActivity">
            <intent-filter android:label="@string/title_activity_maps">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="sit.dm.cats.jvts.net"
                    android:scheme="https" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
        </activity>
        <activity
            android:name=".view.device.AddDeviceActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.location.MapsActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.people.EditActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.menu.HelpActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.menu.ActiveSessionActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.device.QRCodeReaderActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.signinsignup.RegistrationActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.people.ContactDetailsActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.group.GroupListActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.device.QRReaderInstruction"
            android:label="@string/map_name" />
        <activity
            android:name=".view.device.DeviceNameActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".util.CustomAlertActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.people.AddPeopleActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:label="@string/map_name" />
        <activity
            android:name=".view.menu.NavigateUserProfileActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.menu.NavigateSupportActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.menu.TermAndConditionPolicyActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.menu.AboutAppActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.menu.FaqActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.menu.ContactUsActivity"
            android:label="@string/map_name" />
        <activity
        android:name=".view.menu.EditUserProfileActivity"
        android:label="@string/map_name" />
        <activity
            android:name=".view.location.LocationActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.HowToUseActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.EditMemberActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.device.AttachDeviceActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.device.QRCodeRescanActivity"
            android:label="@string/map_name" />
        <activity
            android:name=".view.people.ChooseGroupFromPeopleFlow"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:label="@string/map_name" />

        <activity
            android:name=".view.SplashScreenActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".network.MessageReceiver"
            android:enabled="true"
            android:exported="true"
            android:priority="2147483647">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>